/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html {
min-height: 100%;
}

body{
background-size: cover;
background-repeat:no-repeat;
background-image: linear-gradient(to bottom, #134d71, #295d80, #3c6d90, #4e7ea0, #608fb0, #649fb9, #6daec0, #7abdc5, #90cabd, #b0d5b6, #d4ddb6, #f7e4bf);
font-family: 'Quicksand', sans-serif;
}

h1{
display:flex;
justify-content: center;
color: white;
margin-bottom: 7%;
}

#message-container{
margin: 0 auto;
width: 50%;
background-color: white;
padding: 30px 70px;
border-radius: 10px;
text-align: center;
font-size: 21px;
}

h2{
display:flex;
justify-content: center;
color: white;
}

.radio-buttons{
display:flex;
justify-content: center;
padding: 25px 50px;
font-style: italic;
}

.mantra-class{
  margin-left: 20%;
}

button{
  color: white;
  background-color: #134d71;
  padding: 5px 50px;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
  margin-bottom: 15px;

}

.choose-message{
  background-color: white;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
  width: 50%;
  border-radius: 10px;
}

img{
  display: block;
  width: 13%;
  margin: 0 auto;
}

.view-favorites{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.save{
  font-size: 16px;
  background-color: #f7e4bf;
  color: #134d71;
  border: none;
}
